* {
    outline: 2px solid black;
    margin: 0;
    padding: 0;
}

body {
    /* margin: 0; */
    /* display: flex; */
    /* flex-direction: column; */
}

.main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* overflow: hidden; */
}

.nav {
    display: flex;
    padding: 20px;
    justify-content: space-around; 
    background-color: #1F2937;
}

ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 2em;
    color: #e5e7eb;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8;
}

/* body  */
.hero-container {
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 30px;
}

.hero-container .hero {
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    gap: 1em;
    justify-content: center;
}

.hero-container .img-holder {
    flex-basis: 25%;
}

img {
    width: 100%;
}

h1 {
    font-weight: 900;
    color: #f9faf8;
    font-size: 48px;
}

p, button {
    color: #e5e7eb;
}

.btn button {
    display: flex;
    background-color: #3882f6;
    border-radius: 10px;
    padding: 10px 40px;
    font-size: 20px;
    border: none;
}

.info-container {
    display: flex;
    flex-direction: column;
}

.text-con {
    display: flex;
    justify-content: center;
}

.boxes {
    display: flex;
    flex: 1;
    gap: 15px;
}

.box {
    display: flex;
    justify-content: center;
}

.box-text {
    width: 50%;
}
 

.footer {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
}
